.skills {
    background-color: #f7f7f7;
}
.skills_block {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .skills_block {
        justify-content: center;
    }
}