/** {*/
/*    box-sizing: border-box;*/
/*}*/
.App {
    display: flex;
    /*font-family: 'Open Sans' sans-serif;
    font-size: */
}

.sidebar_item {
    width: 30%;
    background-color: #111111;
}

.main.item {
    /*width: 70%;*/
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .App {
        flex-direction: column;
    }

    .sidebar_item {
        width: 100%;
        height: 60px;
    }

}
